<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles.css">
    <title>Portafolio</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg site-navbar navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-md-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacto</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Slider -->
    <section class="site-hero" style="background-image: url(./image_1.jpg);">
        <div class="container">
            <div class="row intro-text align-items-center justify-content-center">
                <div class="col-md-10 text-center pt-5">
                    <h1 class="site-heading site-animate fadeInUp site-animated">Hola, mi nombre es: <strong
                            class="d-block">Diego Armando Silva Facio</strong></h1>
                    <strong class="d-block text-white text-uppercase letter-spacing">y este es mi portafolio</strong>
                </div>
            </div>
        </div>
    </section>
    <!-- Slider fin -->
    <!-- Portfolio -->
    <section class="site-section" id="section-portfolio">
        <div class="container">
            <div class="row">
                <div class="section-heading text-center col-md-12">
                    <h2>Featured <strong>Portfolio</strong></h2>
                </div>
            </div>
            <div class="filters">
                <ul>
                    <li class="" data-filter="*">Todos</li>
                    <li class="" data-filter=".packaging">Web</li>
                    <li class="active" data-filter=".mockup">Wordpress</li>
                    <li data-filter=".typography">Typography</li>
                    <li data-filter=".photography">Photography</li>
                </ul>
            </div>
            <div class="filters-content">
                <div class="row grid" style="position: relative; height: 943.968px;">
                    <div class="single-portfolio col-sm-4 all mockup" style="position: absolute; left: 0%; top: 0px;">
                        <div class="relative">
                            <div class="thumb">
                                <div class="overlay overlay-bg"></div>
                                <img class="image img-fluid"
                                    src="https://preview.colorlib.com/theme/rezume/images/p1.jpg" alt="">
                            </div>
                            <a href="https://preview.colorlib.com/theme/rezume/images/p1.jpg" class="img-pop-up">
                                <div class="middle">
                                    <div class="text align-self-center d-flex"><img src="https://preview.colorlib.com/theme/rezume/images/p1.jpg" alt="">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="p-inner">
                            <h4>Square Box Mockup</h4>
                            <div class="cat">Mockup</div>
                        </div>
                    </div>
                    <div class="single-portfolio col-sm-4 all mockup"
                        style="position: absolute; left: 33.3319%; top: 0px;">
                        <div class="relative">
                            <div class="thumb">
                                <div class="overlay overlay-bg"></div>
                                <img class="image img-fluid"
                                    src="https://preview.colorlib.com/theme/rezume/images/p2.jpg" alt="">
                            </div>
                            <a href="https://preview.colorlib.com/theme/rezume/images/p2.jpg" class="img-pop-up">
                                <div class="middle">
                                    <div class="text align-self-center d-flex"><img src="https://preview.colorlib.com/theme/rezume/images/p2.jpg" alt="">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="p-inner">
                            <h4>Product Box Package Mockup</h4>
                            <div class="cat">Mockup</div>
                        </div>
                    </div>
                    <div class="single-portfolio col-sm-4 all packaging"
                        style="position: absolute; left: 66.6639%; top: 0px;">
                        <div class="relative">
                            <div class="thumb">
                                <div class="overlay overlay-bg"></div>
                                <img class="image img-fluid"
                                    src="https://preview.colorlib.com/theme/rezume/images/p3.jpg" alt="">
                            </div>
                            <a href="https://preview.colorlib.com/theme/rezume/images/p3.jpg" class="img-pop-up">
                                <div class="middle">
                                    <div class="text align-self-center d-flex"><img src="https://preview.colorlib.com/theme/rezume/images/p3.jpg" alt="">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="p-inner">
                            <h4>Creative Package Design</h4>
                            <div class="cat">Packaging</div>
                        </div>
                    </div>
                    <div class="single-portfolio col-sm-4 all packaging"
                        style="position: absolute; left: 0%; top: 471.984px;">
                        <div class="relative">
                            <div class="thumb">
                                <div class="overlay overlay-bg"></div>
                                <img class="image img-fluid"
                                    src="https://preview.colorlib.com/theme/rezume/images/p4.jpg" alt="">
                            </div>
                            <a href="https://preview.colorlib.com/theme/rezume/images/p4.jpg" class="img-pop-up">
                                <div class="middle">
                                    <div class="text align-self-center d-flex"><img src="https://preview.colorlib.com/theme/rezume/images/p4.jpg" alt="">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="p-inner">
                            <h4>Packaging Brand</h4>
                            <div class="cat">Packaging</div>
                        </div>
                    </div>
                    <div class="single-portfolio col-sm-4 all typography"
                        style="position: absolute; left: 33.3319%; top: 471.984px;">
                        <div class="relative">
                            <div class="thumb">
                                <div class="overlay overlay-bg"></div>
                                <img class="image img-fluid"
                                    src="https://preview.colorlib.com/theme/rezume/images/p5.jpg" alt="">
                            </div>
                            <a href="https://preview.colorlib.com/theme/rezume/images/p5.jpg" class="img-pop-up">
                                <div class="middle">
                                    <div class="text align-self-center d-flex"><img src="https://preview.colorlib.com/theme/rezume/images/p5.jpg" alt="">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="p-inner">
                            <h4>Isometric 3D Extrusion</h4>
                            <div class="cat">Typography</div>
                        </div>
                    </div>
                    <div class="single-portfolio col-sm-4 all photography"
                        style="position: absolute; left: 66.6639%; top: 471.984px;">
                        <div class="relative">
                            <div class="thumb">
                                <div class="overlay overlay-bg"></div>
                                <img class="image img-fluid"
                                    src="https://preview.colorlib.com/theme/rezume/images/p6.jpg" alt="">
                            </div>
                            <a href="https://preview.colorlib.com/theme/rezume/images/p6.jpg" class="img-pop-up">
                                <div class="middle">
                                    <div class="text align-self-center d-flex"><img src="https://preview.colorlib.com/theme/rezume/images/p6.jpg" alt="">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="p-inner">
                            <h4>White Space Photography</h4>
                            <div class="cat">photography</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio fin -->
    <!-- Experiencia -->
    <section class="site-section " id="section-resume">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-5">
                    <div class="section-heading text-center">
                        <h2>Mi <strong>experiencia</strong></h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="mb-5">Educación y cursos</h2>
                    <div class="resume-item mb-4">
                        <span class="date"><span class="icon-calendar"></span>2008 - 2012</span>
                        <h3>Ingeniero de Software</h3>
                        <p class="text-white">Egresado de la factultad de Telematica de la Universidad de Colima,  
                            como Ingeniero de Software.</p>
                            <hr>
                        <span class="school text-white">Universidad de Colima</span>
                    </div>
                    <div class="resume-item mb-4">
                        <span class="date"><span class="icon-calendar"></span>2008 - 2012</span>
                        <h3>Ingeniero de Software</h3>
                        <p class="text-white">Capacitacion de herramienta de desarrollo agil en la Sede de Ecuador. </p>
                        <hr>
                        <span class="school text-white">WebRatio</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="mb-5">Experiencia</h2>
                    <div class="resume-item mb-4">
                        <span class="date"><span class="icon-calendar"></span> March 2013 - Present</span>
                        <h3>Lead Product Designer</h3>
                        <p class="text-white">
                            Even the all-powerful Pointing has no control about the blind texts it is an almost
                            unorthographic.</p>
                            <hr>
                        <span class="school text-white">Github</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Experiencia fin-->
    <!-- Sobre mi -->
    <section class="site-section " id="section-aboutmyself">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-5">
                    <div class="section-heading text-center">
                        <h2>Sobre mi </h2>
                    </div>
                </div>
                <div class="col-md-12 mb-4">
                    <p class="text-white">Cras ultricies ligula sed magna dictum porta. Proin eget tortor risus. 
                        Vivamus suscipit tortor eget felis porttitor volutpat. Praesent sapien massa, convallis a pellentesque 
                        nec, egestas non nisi. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Sobre mi, fin -->
    <!-- skills -->
    <section class="site-section" id="section-skills">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-5">
                    <div class="section-heading text-center">
                        <h2>Habilidades</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- skills, fin -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>