/* Home Banner Area css
============================================================================================ */
/*Color Variables*/
.home_banner_area {
  z-index: 1;
  background: url(../../../images/banner/home-banner.png) no-repeat top center;
  background-position: center;
  background-size: cover; }
  .home_banner_area .banner_inner {
    width: 100%; }
    .home_banner_area .banner_inner .home_right_img {
      padding-top: 197px; }
      @media (max-width: 1480px) {
        .home_banner_area .banner_inner .home_right_img img {
          max-width: 100%;
          height: auto; } }
      @media (max-width: 991px) {
        .home_banner_area .banner_inner .home_right_img {
          display: none; } }
    .home_banner_area .banner_inner .col-lg-7 {
      vertical-align: middle;
      align-self: center; }
    .home_banner_area .banner_inner .banner_content {
      text-align: left; }
      @media (max-width: 991px) {
        .home_banner_area .banner_inner .banner_content {
          margin-top: 150px; } }
      .home_banner_area .banner_inner .banner_content h3 {
        font-size: 40px;
        margin-bottom: 20px;
        position: relative; }
        .home_banner_area .banner_inner .banner_content h3:after {
          content: '';
          width: 410px;
          height: 2px;
          position: absolute;
          top: 50%;
          left: 23%;
          background: #000000; }
          @media (max-width: 575px) {
            .home_banner_area .banner_inner .banner_content h3:after {
              display: none; } }
      .home_banner_area .banner_inner .banner_content h1 {
        margin-top: 20px;
        font-size: 70px;
        line-height: 60px;
        margin-bottom: 25px; }
        @media (max-width: 1024px) {
          .home_banner_area .banner_inner .banner_content h1 {
            font-size: 60px; } }
        @media (max-width: 767px) {
          .home_banner_area .banner_inner .banner_content h1 {
            font-size: 50px; } }
      .home_banner_area .banner_inner .banner_content h5 {
        font-size: 24px;
        margin-bottom: 35px; }
      .home_banner_area .banner_inner .banner_content .primary_btn {
        margin-right: 20px; }

.banner_area {
  position: relative;
  z-index: 1;
  min-height: 485px; }
  @media (max-width: 1199px) {
    .banner_area {
      min-height: 350px; } }
  .banner_area .banner_inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 485px;
    background: url(../images/banner/common-banner.png) no-repeat right bottom;
    background-size: 90% 85%;
    width: 98%;
    z-index: 1; }
    @media (max-width: 1199px) {
      .banner_area .banner_inner {
        min-height: 350px; } }
    @media (max-width: 991px) {
      .banner_area .banner_inner {
        background: #854fee;
        width: 100%; } }
    .banner_area .banner_inner .banner_content {
      margin-left: 50px;
      margin-top: 100px; }
      @media (max-width: 991px) {
        .banner_area .banner_inner .banner_content {
          margin-left: 0px;
          margin-top: 50px; } }
      .banner_area .banner_inner .banner_content h2 {
        color: #fff;
        font-size: 50px;
        font-family: "Rubik", sans-serif;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-weight: 700; }
        @media (max-width: 991px) {
          .banner_area .banner_inner .banner_content h2 {
            font-size: 30px; } }
      .banner_area .banner_inner .banner_content .page_link a {
        font-size: 14px;
        color: #fff;
        font-family: "Roboto", sans-serif;
        margin-right: 20px;
        position: relative; }
        .banner_area .banner_inner .banner_content .page_link a:before {
          content: "-";
          position: absolute;
          right: -14px;
          top: 50%; }
        .banner_area .banner_inner .banner_content .page_link a:last-child {
          margin-right: 0px; }
          .banner_area .banner_inner .banner_content .page_link a:last-child:before {
            display: none; }

/* End Home Banner Area css
============================================================================================ */
