doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/vendors/owl-carousel/owl.carousel.min.css')
    link(rel='stylesheet', href='/vendors/nice-select/css/nice-select.css')
    link(rel='stylesheet', href='/stylesheets/magnific-popup.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content
      
script(src="/javascripts/js/jquery-3.2.1.min.js")
script(src="/javascripts/js/popper.js")
script(src="/javascripts/js/bootstrap.min.js")
script(src="/javascripts/js/stellar.js")
script(src="/javascripts/js/jquery.magnific-popup.min.js")
script(src="/vendors/nice-select/js/jquery.nice-select.min.js")
script(src="/vendors/isotope/imagesloaded.pkgd.min.js")
script(src="/vendors/isotope/isotope-min.js")
script(src="/vendors/owl-carousel/owl.carousel.min.js")
script(src="/javascripts/js/jquery.ajaxchimp.min.js")
script(src="/javascripts/js/mail-script.js")