doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/vendors/linericon/style.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/vendors/owl-carousel/owl.carousel.min.css')
    link(rel='stylesheet', href='/css/magnific-popup.css')
    link(rel='stylesheet', href='/vendors/nice-select/css/nice-select.css')
    link(rel='stylesheet', href='/vendors/animate-css/animate.css')
    link(rel='stylesheet', href='/vendors/flaticon/flaticon.css')
    
    link(rel='stylesheet', href='/css/style.css')
  body
    block content



    script(src="/javascripts/jquery-3.2.1.min.js")
    script(src="/javascripts/popper.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/stellar.js")
    script(src="/javascripts/jquery.magnific-popup.min.js")
    script(src="/vendors/nice-select/js/jquery.nice-select.min.js")
    script(src="/vendors/isotope/imagesloaded.pkgd.min.js")
    script(src="/vendors/isotope/isotope-min.js")
    script(src="/vendors/owl-carousel/owl.carousel.min.js")
    script(src="/javascripts/jquery.ajaxchimp.min.js")
    script(src="/javascripts/mail-script.js")
    //- <!--gmaps Js-->
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE")
    script(src="/javascripts/gmaps.min.js")
    script(src="/javascripts/theme.js")
    